.prj {
   
    height: 130vh;
    width: 100%;
    overflow: hidden;
    color: white;


  
}

.prjContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap;


   
    height: 100vh;

}


.prj1, .prj2, .prj3, .prj4, .prj5, .prj6{
    display: flex;
    justify-content:center;
    align-items: center;
    
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;


    margin: 10px;
    padding: 10px;
    width: 20%;
    height: 40vh;

    font-size: 4vw;
    color: white;
    text-decoration: none;
}



.prj1:hover {

    /*offset-x | offset-y | blur radius | spread-radius | color  */
    box-shadow: 1px 5px 50px 15px grey;
    color: transparent;

    background-color: transparent;
    border: none;
    background-image: url("../Assets/imagePrj1.PNG");
    background-size: 90% 50%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}


.prj2:hover {

    /*offset-x | offset-y | blur radius | spread-radius | color  */
    box-shadow: 1px 5px 50px 15px grey;
    color: transparent;
    background-color: transparent;
    background-image: url("../Assets/HomeProj2.PNG");
    background-size: 90% 50%;
    background-position: center;
    background-repeat: no-repeat;

}

.prj3:hover {
    

    /*offset-x | offset-y | blur radius | spread-radius | color  */
    box-shadow: 1px 5px 50px 15px grey;
    color: transparent;
    background-color: transparent;
    background-image: url("../Assets/imagePrj3.PNG");
    background-size: 90% 50%;
    background-position: center;
    background-repeat: no-repeat;
}


.prj4:hover {

    /*offset-x | offset-y | blur radius | spread-radius | color  */
    box-shadow: 1px 5px 50px 15px grey;
    background-color: transparent;
    color: transparent;
    background-image: url("../Assets/Website\ Template\ img1.PNG");
    background-size: 90% 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.prj5:hover {

    /*offset-x | offset-y | blur radius | spread-radius | color  */
    box-shadow: 1px 5px 50px 15px grey;
    background-color: transparent;
    color: transparent;
    background-image: url("../Assets/WordleCapt.PNG");
    background-size: 90% 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.prj6:hover {


    /*offset-x | offset-y | blur radius | spread-radius | color  */
    box-shadow: 1px 5px 50px 15px grey;
    background-color: transparent;
    color: transparent;

   background-image: url("../Assets/eCommercePreview.PNG");
    background-size: 90% 50%;
    background-position: center;
    background-repeat: no-repeat;
}

@media all and (max-width:721px) {

    .prj{

        height: 180vh;

    }
    .prjContainer {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 160vh;
    }

    .prjContainer h1{
        font-size: 5vw;
    }

    
    .prj1, .prj2, .prj3, .prj4, .prj5, .prj6{
        width:50%;
        height: 50%;

    }
}
