.prj {

    height: 200vh;
    width: 100%;
    overflow: visible;
    color: white;

    margin: 5% 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.prj h1 {
    margin: 20px 0;
}

.prjContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;


    height: 150vh;
    width: 100%;
}


.prjs {
    align-self: center;
    justify-self: center;

    background-color: rgb(19, 18, 18);
    border-radius: 15px;


    /*offset-x | offset-y | blur radius | spread-radius | color  */
    box-shadow: -10px 0px 20px 3px rgb(0, 0, 0);

    padding: 30px;
    width: 60%;
    height: 30vh;
    text-decoration: none;

    animation: infinite alternate;
    transition: 0.7s ease-in-out;

}

.prjs h1 {

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    user-select: none;
    /* To disable text selection */
    margin: 0;
}


#prj1:hover {



    color: transparent;
    background-color: transparent;
    border: none;
    background-image: url("../Assets/imagePrj1.PNG");
    background-size: 70% 60%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

    transform: rotate(-4deg) translateY(-25px);
    transition: 0.7s ease-in;
}



#prj2:hover {


    color: transparent;
    background-color: transparent;
    background-image: url("../Assets/HomeProj2.PNG");
    background-size: 70% 60%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.7s ease-in;
    transform: rotate(-4deg) translateY(-25px);
}

#prj3:hover {



    color: transparent;
    background-color: transparent;
    background-image: url("../Assets/imagePrj3.PNG");
    background-size: 70% 60%;
    background-position: center;
    background-repeat: no-repeat;


    transition: 0.7s ease-in;
    transform: rotate(-4deg) translateY(-25px);
}


#prj4:hover {
    background-color: transparent;
    color: transparent;
    background-image: url("../Assets/My\ Portfolio\ img1.PNG");
    background-size: 70% 60%;
    background-position: center;
    background-repeat: no-repeat;

    transition: 0.7s ease-in;
    transform: rotate(-4deg) translateY(-25px);

}

#prj5:hover {

    background-color: transparent;
    color: transparent;
    background-image: url("../Assets/WordleCapt.PNG");
    background-size: 70% 60%;
    background-position: center;
    background-repeat: no-repeat;


    transition: 0.7s ease-in;
    transform: rotate(-4deg) translateY(-25px);
}

#prj6:hover {



    background-color: transparent;
    color: transparent;

    background-image: url("../Assets/eCommercePreview.PNG");
    background-size: 70% 60%;
    background-position: center;
    background-repeat: no-repeat;

    transition: 0.7s ease-in;
    transform: rotate(-4deg) translateY(-25px);
}

#prj7:hover {


    background-color: transparent;
    color: transparent;

    background-image: url("../Assets/RegisterCapt2.PNG");
    background-size: 70% 60%;
    background-position: center;
    background-repeat: no-repeat;

    transition: 0.7s ease-in;
    transform: rotate(-4deg) translateY(-25px);
}






@media all and (max-width:721px) {

    .prj {

        height: 200vh;
        margin: 20% 0;
    }

    .prjContainer {
        display: grid;
        grid-template-columns: auto;
        height: 160vh;

    }


    .prjs {
        width: 50%;
        height: 10vh;

    }

    #prj1,
    #prj3,
    #prj5,
    #prj7 {
        transition: 0.7s ease-out;
        transform: rotate(-4deg) translateX(-25px);
    }

    #prj2,
    #prj4,
    #prj6 {
        transition: 0.7s ease-out;
        transform: rotate(4deg) translateX(25px);

    }

    #prj1:hover,
    #prj3:hover,
    #prj5:hover,
    #prj7:hover {
        transition: 0.7s ease-out;
        transform: translateY(-10px);
    }

    #prj2:hover,
    #prj4:hover,
    #prj6:hover {
        transition: 0.7s ease-out;
        transform: translateY(-10px);

    }




}