.hom{
   
    
    height: 100vh;
    width: 100%;
    overflow: hidden;
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    }

.hom h1{
    margin: 0px;
    padding: 0px;

    color: white;
    font-size: 5vw;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 10px;
   
}


.hom h1:hover, .hom h1:active{
    color: #fff;
    text-shadow: 
    0 0 7px #fff,
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 32px rgb(185, 185, 1),
    0 0 1px rgb(185, 185, 1),
    0 0 0px rgb(185, 185, 1),
    0 0 0px rgb(185, 185, 1),
    0 0 0px rgb(185, 185, 1);
}
.hom h3{
    margin:0px;
    padding: 0px;

    display:flex; 
    flex-wrap: wrap;

    color: white;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    word-spacing: 2px;
}


@media all and (max-width:721px) {
   
     .hom h3{
        font-size:3vw;
    } 
    .hom h1{
        font-size:7vw;
    } 
}





